<div class='form'>
  <form action='' method='get' class='form__form'>

    <div class='form__row'>
      <label for='company-name'>What’s your company’s name?</label>
      <input id='company-name'
             name='company-name'
             type='text'
             placeholder='Your Company'/>
    </div>


    <div class='form__row'>
      <label for='full-name'>What’s your name?</label>
      <input id='full-name'
             name='full-name'
             type='text'
             placeholder='Your Full name'/>
    </div>


    <div class='form__row'>
      <label for='email'>What’s your email?</label>
      <input id='email'
             name='email'
             type='email'
             placeholder='you@example.com'/>
    </div>


    <div class='form__row'>
      <label for='referrer'>How did you hear about us?</label>
      <div class='arrow-down'></div>
      <select id='referrer' name='referrer'>
        <option value='friend'>From a Friend</option>
        <option value='co-worker'>From a Co-Worker</option>
        <option value='conference'>At a Conference</option>
        <option value='digital-ad'>In a Digital Advertisement</option>
        <option value='digital-ad'>Through a Search Engine</option>
      </select>
    </div>

    <div class='form__row'>
      <button>Get In Touch</button>
    </div>

  </form>
</div>

