<div class='feature'>
  <div class='feature__wrapper'>
    <div class='feature__icon'>{{{ icon }}}</div>

    <h3 class='feature__heading'>{{ title }}</h3>

    <div class='feature__copy'>{{ copy }}</div>
  </div>
</div>

