<div class='form-section-a'>
  <div class='form-section-a__gradient-bg'>
    <div class='form-section-a__wrapper'>

      <div class='form-section-a__content'>
        <h2 class='form-section-a__heading'>{{ title }}</h2>
        <img class='form-section-a__illustration'
             src='./form-illustration.svg'/>
      </div>

      <div class='form-section-a__form'>
        {{> form/form }}
      </div>
    </div>
  </div>
</div>

