<div class='plain-section'>
  <div class='plain-section__wrapper'>

    <div class='plain-section__content'>
      <h1 class='plain-section__heading'>{{ title }}</h1>

      <div class='plain-section__copy'>{{ copy }}</div>
    </div>
  </div>
</div>

