<nav class='nav'>

  <div class='nav__desktop'>
    <div class='nav__logo'>Acme Inc.</div>
    <ul class='nav__links'>
      <li><a href='/' class='nav__link'>About</a></li>
      <li><a href='/landing-page-a' class='nav__link'>Landing Page A</a></li>
      <li><a href='/landing-page-b' class='nav__link'>Landing Page B</a></li>
      <li><a href='https://www.netlify.com/enterprise/'
             target='_blank'
             class='nav__link nav__link--button'>Contact Netlify</a></li>
    </ul>
  </div>

  <div class='nav__mobile'>
    <div class='nav__top'>
      <div class='nav__logo'>Acme Inc.</div>
      <a href='https://www.netlify.com/enterprise/'
         target='_blank'
         class='nav__link nav__link--button'>Contact Netlify</a>
    </div>
    <ul class='nav__links'>
      <li><a href='/' class='nav__link'>About</a></li>
      <li><a href='/landing-page-a' class='nav__link'>Landing Page A</a></li>
      <li><a href='/landing-page-b' class='nav__link'>Landing Page B</a></li>
    </ul>
  </div>
</nav>

